<div class="row">
  <div class="col-1"></div>

  <div class="col-10">
    <input type="text" [(ngModel)]="searchString" name="searchString" class="form-control" placeholder="Search">
  </div>

  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10">

    <div class="form-check-inline">
      <input class="form-check-input" [(ngModel)]="pc_ps_Comp" type="checkbox" value="" id="pc_ps_Comp" />
      <label class="form-check-label" for="pc_ps_Comp">
    <i class="fab fa-windows"></i> Pc - <i class="fab fa-playstation"></i> Ps
  </label>
    </div>

    <div class="form-check-inline">
      <input class="form-check-input" [(ngModel)]="pc_xb_Comp" type="checkbox" value="" id="pc_xb_Comp" />
      <label class="form-check-label" for="pc_xb_Comp">
    <i class="fab fa-windows"></i> Pc - <i class="fab fa-xbox"></i> Xbox
  </label>
    </div>
    <div class="form-check-inline">
      <input class="form-check-input" [(ngModel)]="ps_xb_Comp" type="checkbox" value="" id="ps_xb_Comp" />
      <label class="form-check-label" for="ps_xb_Comp">
    <i class="fab fa-playstation"></i> Ps - <i class="fab fa-xbox"></i> Xbox
  </label>
    </div>
  </div>

  <div class="col-1"></div>
</div>


<app-listing [searchString]="searchString" [pc_ps_Comp]="pc_ps_Comp" [pc_xb_Comp]="pc_xb_Comp" [ps_xb_Comp]="ps_xb_Comp"></app-listing>
