<div class="container">
  <h1>About this Site</h1>
  <br />
  <ul>
    <li>
      This application was developed as part of a 4th year project in college.</li>
    <li>
      The developer wanted to create a RESTful API service using the MEAN framework.</li>
    <ul>
      <li>
        NodeJs to build the server.</li>
      <li>
        Express to develop the routes to the resource in the API.</li>
      <li>
        Data on the video game object is stored in JSON format using MongoDB.</li>
      <li>
        Angular components were used to build a front end to data in the RESTful API service that stores video game objects.</li>
    </ul>
    <li>
      Each video game object in the database contains properties on the video games compatability in an online environment.</li>
    <li>
      The listing of video games is transformed when a checkbox button is pressed, or search string is entered to reflect the games compatible with the specified consoles.</li>

  </ul>
</div>
