<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid" id="header">
    <h1 class="display-4"><strong><i class="fa fa-gamepad"></i>Console-less Gaming</strong></h1>
    <p class="lead"><i>Find games availbale for playing cross-platform</i></p>
  </div>
</div>

  <router-outlet></router-outlet>

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid" id="header">
    <h1 class="display-4"><strong><i class="fa fa-gamepad"></i>Console-less Gaming</strong></h1>
  </div>
</div>
